:root {
    *:focus-visible {
        @include a11y-focus;
    }
}

html {
    background: black;

    // &.time {
    //    TODO: time of day influence on background
    //     --time: hsl(0, 0, var(--light));
    //     background: var(--time);
    // }

    h1,
    h2,
    h3,
    h4 {
        font-family: 'Hack', Serif;
    }

    p {
        font-family: 'Expletus Sans', 'Noto Sans';
    }

    * {
        box-sizing: border-box;
    }

    @media (prefers-color-scheme: dark) {

    }

    @media (prefers-contrast: more) {

    }

    @media (forced-colors: active) {

    }

    @media (prefers-reduced-motion: reduce) {

    }

    @media (prefers-reduced-transparency: reduce) {
        
    }
}

.btn {
    background-image: linear-gradient(33deg, $br_pi 45%, $br_de 55%, $br_de 95%, $br_pi 100%);
    background-position: 10% 50%;
    background-size: 200% 200%;
    color: black;
    display: inline-block;
    font-weight: bold;
    padding: 0.75em 1.5em;
    text-decoration: none;
    transition-duration: 0.3s;
    transition-property: background-image, background-position;

    &:hover {
        transition-duration: .809s;
        background-position: 95% 50%;
        transition-timing-function: cubic-bezier(0.75, 0.1, 0.5, 0.9);
    }

    @media (prefers-color-scheme: dark) {

    }

    @media (prefers-contrast: more) {

    }

    @media (forced-colors: active) {

    }

    @media (prefers-reduced-motion: reduce) {

    }

    @media (prefers-reduced-transparency: reduce) {

    }
}