@use 'mixins';

$orange: #f59725;
$deep: #f57e53;
$pink: #ce6ab0;
$purple: #985277;
$royal: #4b375c;

// opacity max 33
$op_or: #f5d0a4;
$op_de: #f5baa4;
$op_pi: #cf8aba;
$op_pu: #996781;
$op_ro: #4e3e5c;

// brightness min 90
$br_or: #f5d0a4; //96
$br_de: #f5baa4; //96
$br_pi: #e69acf; //90
$br_pu: #e69ac1; //90
$br_ro: #c29ae6; //90

// alpha min 50
$al_ro: #c29ae654;
$al_pu: #e69ac154;
$al_pi: #e69acf54;
$al_de: #f5baa454;
$al_or: #f5d0a454;

// $peach: #ffcdb2;

// $orange: #ffb4a2;
// $pink: #e5989b;
// $slate-pink: #b5838d;
// $grey--purple: #6d6875;

// $hotpink: #ff69eb;
// $pink: #ff86c8;
// $pink-orange: #ffa3a5;
// $orange: #ffbf81;
// $yellow: #ffdc5e;
:root {
    --light: ;
}

html {
    background: black;

    &.dark {
        background: black;
    }

    &.light {
        background: white;
    }

    &.time {
        --time: hsl(0, 0, var(--light));
        background: var(--time);
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: 'Hack', Serif;
    }

    * {
        box-sizing: border-box;
    }
}

body {
    position: relative;
    // background: linear-gradient(
    //     145deg,
    //     $al_or 20%,
    //     $al_de 30%,
    //     $al_pi 65%,
    //     $al_pu 80%,
    //     $al_ro
    // ) no-repeat fixed;
    background-attachment: fixed;
    background-image: url('../media/bg.png.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    // margin: 24px;
    min-width: 280px;
    margin: 0;
    padding: 8px;
    // color: orange;
    color: #fee0e0;
    // filter: hue-rotate(33deg);
    // animation: filter-rotate infinite 5s 1s linear
    font-family: 'Expletus Sans', 'Noto Sans';
    
    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        // backdrop-filter: hue-rotate(45deg);
        // animation: hue-rotate infinite 15s 1s linear
    }

    @media (min-width: 992px) {
        padding: 48px;
    }
}

// .shape {
//     object-fit: contain;
// }

main {
    align-items: center;
    border-radius: 69px;
    box-sizing: border-box;
    // backdrop-filter: hue-rotate(-33deg) blur(10px) opacity(0.75);
    // border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: min(80vw, 1720px);
    min-height: 100vh;
    min-width: 100%;
    // animation: hue-rotate infinite 15s linear;
    // clip-path: ellipse(200% 50%);
    // padding: 48px;
    // @include mixins.neumorphic(8px, #dd714b, #ff8759);
    // width: 80%;

    @media (min-width: 992px) {
        width: unset;
        margin: 48px auto;
    }

    .bg {
        background: linear-gradient(
            145deg,
            $op_or 20%,
            $op_de 30%,
            $op_pi 65%,
            $op_pu 80%,
            $op_ro
        ) no-repeat fixed; 
    }
}

@keyframes hue-rotate {
    0% {
        backdrop-filter: hue-rotate(327deg);
    }
    42% {
        backdrop-filter: hue-rotate(237deg);
    }
    50% {
        backdrop-filter: hue-rotate(147deg);
    }
    60% {
        backdrop-filter: hue-rotate(57deg);
    }
    100% {
        backdrop-filter: hue-rotate(-33deg);
    }
}

@keyframes filter-rotate {
    0% {
        filter: hue-rotate(327deg);
    }
    42% {
        filter: hue-rotate(237deg);
    }
    50% {
        filter: hue-rotate(147deg);
    }
    60% {
        filter: hue-rotate(57deg);
    }
    100% {
        filter: hue-rotate(33deg);
    }
}

section {
    // background: black;
    border-radius: 4px;
    margin: 0 auto 48px;
    max-width: 1440px;
    padding: 24px;
    position: relative;

    &:nth-of-type(1) {
        clip-path: ellipse(50% at 0% 0%);
        border-radius: 8px 8px 4px 4px;
        left: -1px;
        max-width: 100%;
        top: -1px;
        width: clamp(50%, 100vw, 720px);
    }

    &:nth-last-of-type() {
        border-radius: 4px 4px 8px 8px;
        bottom: -1px;
        right: -1px;
    }

    * {
        position: relative;
        z-index: 1;
    }

    .backdrop_filter {
        background: black;
        height: 100%;
        left: 0;
        mix-blend-mode: saturation;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    &::before {
        background: #000000af;
        content: '';
        filter: blur(10px);
        height: 100%;
        left: -12px;
        position: absolute;
        top: -12px;
        width: 100%;
        z-index: 1;
    }

    @media (min-width: 992px) {
        margin: 48px auto;
    }
}

.shapes {
    height: 100vh;
    filter: blur(5px);
    left: 50%;
    mix-blend-mode: luminosity;
    position: fixed;
    top: 0;
    // transform: translate(-50%, -50%);
    transform: translateX(-50%);
    width: auto;

    .triangle {
        background: #4fffff;
        width: 500px;
        height: 500px;
        clip-path: polygon(0 0, 100% 100%, 0 100%);
        transform: rotate(45deg);
    }

    // animated the shapes and make them move in an ascending order until looping through all shapes through 9
}

.header {
    text-align: center;

    @media (min-width: 992px) {
        text-align: start;
    }

    .pipe {
        display: none;

        @media (min-width: 992px) {
            display: inline;
        }
    }

    .title {
        display: block;
        margin-top: 12px;

        @media (min-width: 992px) {
            display: inline;
            margin: unset;
        }
    }
}

.portfolio {

    article {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        margin: 48px auto;
        text-align: center;

        img {
            max-height: min(90vh, 500px);
            border-radius: 50px;
            width: 100%;
            object-fit: cover;
            object-position: center top;
        }

        .content {
            background: rgba(61,47,55,.975);
            border-radius: 8px;
            margin-top: -48px;
            padding: 24px;
            width: 90%;

            h3 {
                margin: 0;

                span {
                    display: block;
                    margin: inherit;
                    font-style: italic;
                    font-size: max(11px, .75em);
                }
            }

            p {
                margin: 16px 0;
            }
        }
    }

    @media (min-width: 992px) {
        article {
            border-radius: 50px;
            margin: 48px auto;
            max-height: min(80vh, 720px);
            overflow: hidden;
            transition: width 0.3s;
            width: 75%;
            text-align: center;

            img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                transition: transform 0.3s;
                width: 100%;
                max-height: unset;
            }

            .content {
                align-items: center;
                background: rgba(61,47,55,.975);
                bottom: 0;
                clip-path: ellipse(100% 150% at 0% 50%);
                display: flex;
                flex-direction: column;
                height: 0%;
                justify-content: center;
                left: 0;
                max-width: 420px;
                min-width: 25%;
                opacity: 0;
                padding-left: 24px;
                padding-right: 72px;
                position: absolute;
                transform: translateX(-133%) scale(1.125);
                transition: transform 1.618s 0s, opacity 0.3s, height 0s 0.3s;
                width: 33%;

                h3 {
                    margin: 0;

                    span {
                        display: block;
                        margin: inherit;
                        font-style: italic;
                        font-size: max(11px, .75em);
                    }
                }

                p {
                    margin: 16px 0;
                }
            }

            &:hover {
                width: 100%;

                img {
                    transition: transform 1.618s .809s ease-in-out;
                    transform: translate(-50%, -50%);
                }

                .content {
                    height: 100%;
                    opacity: 1;
                    transform: translateX(0%);
                    transition: transform .809s 1.618s ease-in-out;
                }
            }
        }
    }
}

.backdrop_filter {
    background: white;
    display: block;
    filter: blur(10px);
    height: 250px;
    mix-blend-mode: saturation;
    width: 250px;
    background-attachment: fixed;

    &--red {
        background: red;
        mix-blend-mode: exclusion;
    }
}

.btn {
    // background-image: linear-gradient(33deg, $br_pi 0%, $br_de 100%);
    background-image: linear-gradient(33deg, $br_pi 45%, $br_de 55%, $br_de 95%, $br_pi 100%);
    background-position: 10% 50%;
    background-size: 200% 200%;
    color: black;
    display: inline-block;
    font-weight: bold;
    padding: 0.75em 1.5em;
    text-decoration: none;
    transition-duration: 0.3s;
    transition-property: background-image, background-position;
    // clip-path: path('M25,25 c5,-5 5,-15 150,0 s-10,10 0,150 s-20,-10 -150,0 s0,0 0,-149 Z');

    &:hover {
        transition-duration: .809s;
        background-position: 95% 50%;
        transition-timing-function: cubic-bezier(0.75, 0.1, 0.5, 0.9);
    }
}

@font-face {
    font-family: "Expletus Sans";
    src: url('../fonts/Expletus_Sans/ExpletusSans-VariableFont_wght.ttf') format("TrueType");
    font-weight: 100 1000;
}

@font-face {
    font-family: "Noto Sans";
    src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf') format("TrueType");
}

@font-face {
    font-family: "Hack";
    src: url('../fonts/Hack/HackNerdFont-Regular.ttf') format("TrueType");
}