@font-face {
    font-family: "Expletus Sans";
    src: url('../fonts/Expletus_Sans/ExpletusSans-VariableFont_wght.ttf') format("TrueType");
    font-weight: 100 1000;
}

@font-face {
    font-family: "Noto Sans";
    src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf') format("TrueType");
}

@font-face {
    font-family: "Hack";
    src: url('../fonts/Hack/HackNerdFont-Regular.ttf') format("TrueType");
}
