@import 'a11y';
@import 'fonts';

// Using HSB
$orange: #f59725; // 33 85 96
$deep: #f57e53; // 16 66 96
$pink: #ce6ab0; // 318 49 81
$purple: #985277; // 328 46 60
$royal: #4b375c; // 272 40 36

// sync the saturation value for harmony
$op_or: #f5d0a4;
$op_de: #f5baa4;
$op_pi: #cf8aba;
$op_pu: #996781;
$op_ro: #4e3e5c;

// Bright pallette
$br_or: #f5d0a4; //96
$br_de: #f5baa4; //96
$br_pi: #e69acf; //90
$br_pu: #e69ac1; //90
$br_ro: #c29ae6; //90
// Alpha pallette 
// TODO: time of day influence on background
$al_or: #f5d0a454;
$al_de: #f5baa454;
$al_pi: #e69acf54;
$al_pu: #e69ac154;
$al_ro: #c29ae654;

@mixin sunset-gradient {
    background: linear-gradient(
        145deg,
        $op_or 20%,
        $op_de 30%,
        $op_pi 65%,
        $op_pu 80%,
        $op_ro
    ) no-repeat fixed;
}

@keyframes hue-rotate {
    0% {
        backdrop-filter: hue-rotate(327deg);
    }
    42% {
        backdrop-filter: hue-rotate(237deg);
    }
    50% {
        backdrop-filter: hue-rotate(147deg);
    }
    60% {
        backdrop-filter: hue-rotate(57deg);
    }
    100% {
        backdrop-filter: hue-rotate(-33deg);
    }
}

@keyframes filter-rotate {
    0% {
        filter: hue-rotate(327deg);
    }
    42% {
        filter: hue-rotate(237deg);
    }
    50% {
        filter: hue-rotate(147deg);
    }
    60% {
        filter: hue-rotate(57deg);
    }
    100% {
        filter: hue-rotate(33deg);
    }
}